.navigation {
    background: #000000;
    &__cover {
        margin: 0 auto;
        width: 1140px;
        display: flex;
        padding-top: 15px;
        &--logo {
            padding-top: 11px;
        }
    }
    &__burger-menu {
        display: none;
    }

    &__menu {
        width: 887px;
        top: 50px;
        left: 340px;
        display: flex;

        &--nav {
            margin-left: 45px;
            padding-top: 35px;
            text-decoration: none;
            color: #ffffff;
            font-family: Raleway;
            font-size: 18px;
            line-height: 21px;
        }
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .navigation {
        background: #000000;
        &__cover {
            position: relative;
            margin: 0 auto;
            width: calc(100% - 94px);
            display: flex;
            padding-top: 15px;
            &--logo {
                padding-top: 11px;
            }
        }
        &__burger-menu {
            position: absolute;
            left: 850px;
            top: 33px;
            display: block;
        }

        &__menu {
            display: none;
        }
    }
}
@media (min-width: 321px) and (max-width: 768px) {
    .navigation {
        background: #000000;
        &__cover {
            position: relative;
            margin: 0 auto;
            width: calc(100% - 78px);
            display: flex;
            padding-top: 15px;
            &--logo {
                padding-top: 11px;
            }
        }
        &__burger-menu {
            position: absolute;
            left: 650px;
            top: 33px;
            display: block;
        }

        &__menu {
            display: none;
        }
    }
}
@media (max-width: 320px) {
    .navigation {
        background: #000000;
        &__cover {
            position: relative;
            margin: 0 auto;
            width: calc(100% - 78px);
            display: flex;
            padding-top: 15px;
            &--logo {
                padding-top: 11px;
            }
        }
        &__burger-menu {
            position: absolute;
            left: 225px;
            top: 33px;
            display: block;
        }

        &__menu {
            display: none;
        }
    }
}
