.navigation {
    background: #000000;
    &__cover {
        margin: 0 auto;
        width: 1140px;
        &--logo {
            top: 25px;
            margin-right: 40px;
        }
    }

    &__menu {
        width: 887px;
        top: 50px;
        left: 340px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;

        &--nav {
            text-decoration: none;
            color: #ffffff;
            font-family: Raleway;
            font-size: 18px;
        }
    }
}
