.about-us {
    width: 1140px;
    height: 870px;
    &__cover {
        position: relative;
        z-index: 1;
        &--wave {
            top: -350px;
            position: absolute;
            overflow: hidden;
            margin: 0 auto;
            z-index: 0;
        }
    }
    &__disc {
        top: 62px;
        width: 557px;
        height: 221px;
        margin: 0 auto;
        z-index: 2;
        &--header {
            margin-top: 60px;
            font-family: Raleway;
            font-size: 42px;
            line-height: 64px;
        }
        &--par {
            margin-top: 20px;
            font-family: Lato;
            font-size: 18px;
            line-height: 28px;
        }
    }
    &__blocks {
        display: flex;
        position: absolute;
        &--item {
            width: 243px;
            height: 243px;
            background: #ffffff;
            border-radius: 30px;
            margin-right: 100px;
        }
        &--pic {
            margin: 0 auto;
        }
    }
}
