.our-services {
    &__cover {
        width: fit-content;
        margin: 0 auto;
        &--header {
            margin: 0 auto;
            padding: 55px 0 55px 0;
            font-family: Raleway;
            font-size: 42px;
            line-height: 64px;
            text-align: center;
        }
    }
    &__grid {
        display: grid;
        grid-template-columns: 492px 390px 542px 1fr;
        grid-template-rows: 200px 200px 200px 287px;
        grid-auto-rows: 1fr;
        gap: 8px 8px;
        grid-auto-flow: row dense;
        grid-template-areas:
            "top top top ."
            "top top top ."
            "bottom bottom bottom ."
            "bottom bottom bottom .";
    }

    &__grid-top {
        display: grid;
        grid-template-columns: 525px 357px 542px;
        grid-template-rows: 200px 200px;
        gap: 8px 8px;
        grid-auto-flow: row;
        grid-template-areas:
            "fd app constr"
            "qual app equip";
        grid-area: top;
    }

    &__app {
        grid-area: app;
        position: relative;
        &--img {
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: -10;
        }
        &--header {
            padding-left: 15px;
            padding-top: 27px;
            font-family: Raleway;
            font-size: 28px;
            line-height: 36px;
            color: #ffffff;
        }
        &--par {
            padding-left: 15px;
            padding-top: 20px;
            font-family: Lato, Helvetica, Arial, sans-serif;
            font-size: 18px;
            line-height: 24px;
            color: #ffffff;
        }
    }

    &__qual {
        grid-area: qual;
        position: relative;
        &--img {
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: -10;
        }
        &--header {
            padding-top: 27px;
            padding-left: 165px;
            font-family: Raleway;
            font-size: 28px;
            line-height: 36px;
            color: #ffffff;
        }
        &--par {
            padding-left: 165px;
            padding-top: 20px;
            font-family: Lato, Helvetica, Arial, sans-serif;
            font-size: 18px;
            line-height: 24px;
            color: #ffffff;
        }
    }

    &__constr {
        grid-area: constr;
        position: relative;
        &--img {
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: -10;
        }
        &--header {
            padding-top: 27px;
            padding-left: 15px;
            font-family: Raleway;
            font-size: 28px;
            line-height: 36px;
            color: #ffffff;
        }
        &--par {
            padding-top: 20px;
            padding-left: 15px;
            font-family: Lato, Helvetica, Arial, sans-serif;
            font-size: 18px;
            line-height: 24px;
            color: #ffffff;
        }
    }

    &__equip {
        grid-area: equip;
        position: relative;
        &--img {
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: -10;
        }
        &--header {
            padding-top: 27px;
            padding-left: 15px;
            font-family: Raleway;
            font-size: 28px;
            line-height: 36px;
            color: #ffffff;
        }
        &--par {
            padding-top: 20px;
            padding-left: 15px;
            font-family: Lato, Helvetica, Arial, sans-serif;
            font-size: 18px;
            line-height: 24px;
            color: #ffffff;
        }
    }

    &__fd {
        grid-area: fd;
        position: relative;
        &--img {
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: -10;
        }
        &--header {
            width: 250px;
            padding-top: 27px;
            padding-left: 165px;
            font-family: Raleway;
            font-size: 28px;
            line-height: 36px;
            color: #ffffff;
        }
        &--par {
            padding-top: 20px;
            padding-left: 165px;
            font-family: Lato, Helvetica, Arial, sans-serif;
            font-size: 18px;
            line-height: 24px;
            color: #ffffff;
        }
    }
    &__grid-bottom {
        display: grid;
        grid-template-columns: 492px 390px 542px;
        grid-template-rows: 200px 287px;
        gap: 8px 8px;
        grid-auto-flow: row;
        grid-template-areas:
            "adj adj repair"
            "consult sale repair";
        grid-area: bottom;
    }

    &__adj {
        grid-area: adj;
        position: relative;
        &--img {
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: -10;
        }
        &--header {
            padding-top: 27px;
            padding-left: 165px;
            font-family: Raleway;
            font-size: 28px;
            line-height: 36px;
            color: #ffffff;
        }
        &--par {
            width: 500px;
            padding-top: 20px;
            padding-left: 165px;
            font-family: Lato, Helvetica, Arial, sans-serif;
            font-size: 18px;
            line-height: 24px;
            color: #ffffff;
        }
    }

    &__repair {
        grid-area: repair;
        position: relative;
        &--img {
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: -10;
        }
        &--header {
            padding-top: 27px;
            padding-left: 15px;
            font-family: Raleway;
            font-size: 28px;
            line-height: 36px;
            color: #ffffff;
        }
        &--par {
            padding-top: 20px;
            padding-left: 15px;
            font-family: Lato, Helvetica, Arial, sans-serif;
            font-size: 18px;
            line-height: 24px;
            color: #ffffff;
        }
    }

    &__consult {
        grid-area: consult;
        position: relative;
        &--img {
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: -10;
        }
        &--header {
            padding-top: 27px;
            padding-left: 165px;
            font-family: Raleway;
            font-size: 28px;
            line-height: 36px;
            color: #ffffff;
        }
        &--par {
            padding-top: 27px;
            padding-left: 165px;
            font-family: Lato, Helvetica, Arial, sans-serif;
            font-size: 18px;
            line-height: 24px;
            color: #ffffff;
        }
    }

    &__sale {
        grid-area: sale;
        position: relative;
        &--img {
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: -10;
        }
        &--header {
            padding-top: 27px;
            padding-left: 15px;
            font-family: Raleway;
            font-size: 28px;
            line-height: 36px;
            color: #ffffff;
        }
        &--par {
            padding-top: 27px;
            padding-left: 15px;
            font-family: Lato, Helvetica, Arial, sans-serif;
            font-size: 18px;
            line-height: 24px;
            color: #ffffff;
        }
    }
}
