@import "../var/var";
@mixin btn {
    display: block;
    background: $normal-color;
    border-radius: 30px;
    font-family: Raleway;
    box-sizing: border-box;
    padding: 15px 0 15px 0;
    line-height: 28px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}
@mixin header-h2 {
    font-family: Raleway;
    font-size: 42px;
    line-height: 64px;
    margin: 0 auto;
    text-align: center;
}
@mixin header-h3 {
    font-family: Raleway;
    font-size: 28px;
    line-height: 36px;
    color: #ffffff;
}
@mixin par {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}
@mixin img-cover {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -10;
}
@mixin block {
    width: 243px;
    height: 243px;
    background: #ffffff;
    border-radius: 30px;
    text-align: center;
}
@mixin question {
    position: relative;
    background: #f4f4f4;
    z-index: -11;
    border-radius: 15px;
}
@mixin q-img {
    position: absolute;
    z-index: -10;
}
@mixin q-h {
    font-family: Raleway;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
}
@mixin q-p {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 28px;
    padding: 22px 15px;
}
@mixin f-par {
    font-family: Lato, Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 28px;
}
