$normal-color: linear-gradient(81.51deg, #fc7a4b 7.36%, #cf0054 49.57%, #790054 93.51%);
$hover-color: linear-gradient(110.02deg, #f36e64 3.97%, #ad1765 40.58%, #2c1366 88.26%);
$active-color: linear-gradient(110.02deg, #f36e64 3.97%, #ad1765 6.57%, #2c1366 68.56%);
