@import "./sections/_nav";
@import "./sections/_section_1";
@import "./sections/_section_2";
@import "./sections/_section_3";
@import "./sections/_section_4";
@import "./sections/_section_5";
@import "./sections/_section_6";
@import "./sections/_section_7";
@import "./sections/_footer";

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
